<div class="grid">
  <div class="item hero-content p-3">
    <div>
      <h1 class="hero-header">ScreenHive</h1>
      <p>Your Movie Collections, Perfectly Organized</p>
    </div>
    <div>
      <%= link_to "Create New List", new_list_path, class: 'btn btn-dark hero-button' %>
    </div>
  </div>
  <div class="item bookmark-card">
    <h3 class="p-3">Trending This week</h3>
  </div>
  <div id="movie-carousel" class="item">
    <% @lists.each do |list| %>
      <div class="carousel-item card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path(list.bookmarks.first.movie.poster_url) %>)">
        <p><%= list.name %></p>
        <%= link_to "View", list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
<!-- IMG TAG -->
