
<div class="container">
  <h1><%= @list.name %></h1>
  <% @movies.each do |movie| %>
  <div>
    <h3><%= movie.title %></h3>
    <p><%= movie.overview %></p>
    <span><%= movie.rating %></span>
  </div>
  <% end %>
</div>
